
body{
	background-image: url(https://images.unsplash.com/photo-1551866442-64e75e911c23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto);
	background-size: cover;
}
h1{
	background-color: blue;
	border: 7px solid red;
	color: white;
	text-align: center;
	padding: 25px;
	border-radius: 50px;
	width: 50%;
	margin: 0 auto; /*centers block elements like h1 or div*/
	font-size: 10vw;
}

img {
	border: 7px solid blue;
	border-radius: 50px;
	max-width: 100%;
	height: auto;
}

div {
	background-color: rgba(255,255, 255, .7);
	padding: 25px;
}