
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
      background-image: url("https://cdn.pixabay.com/photo/2017/07/08/12/36/background-2484300_1280.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 500px;
      margin: auto;
      font-family: "Poppins";
  }

 h1 {
      color: hotpink;
      background-color: lightpink;
      border: 7px dotted white;
      border-radius: 50px;
      margin: auto;
      text-align: center;
      width: 100%;
      font-size: 3rem;
      font-weight: bold;
      padding: 25px;
}

h2{
    background-color: white;
    border: 2px solid hotpink;
    font-family: "Poppins";
    color: hotpink;
    font-size: 2rem;
    border-radius: 50px;
    padding: 2px; 
    text-align: center;
}
main {
    background: rgba(255,192,203, .7);
    border: 7px solid hotpink;
    width: 100%;
    margin: auto;
    border-radius: 50px;
    padding: 25px;

}

form {
      background: rgba(255,192,203, .7);
      border: 7px solid hotpink;
      width: 100%;
      margin: auto;
      border-radius: 50px;
      padding: 25px;
}
label {
      background-color: white;
      border: 2px solid hotpink;
      font-family: "Poppins";
      color: hotpink;
      font-size: 1rem;
      border-radius: 50px;
      padding: 2px; 
}

legend {
        background-color: white;
        border: 7px solid hotpink;
        font-family: "Poppins";
        color: hotpink;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
}


img {
      border: 7px solid hotpink;
      border-radius: 50px;
      max-width: 100%;
      height: auto;
  }

button {
        background-color: white;
        border: 7px solid hotpink;
        font-family: "Poppins";
        color: hotpink;
        width: 100%;
        padding: 15px;
        border-radius: 50px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;

}

footer {
          color: white;
          background-color: lightpink;
          border: 7px dotted white;
}